body{

  font-family: Montserrat;
}

h6{
  font-weight: bold;


}
nav{

    background-color: #1f1f1f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
    color: #fff;
    
  

}
.navbar-toggler {
    
    background-color: transparent;
  } 

  .icon-bar{

    color: white;
  }

.custom-logo{
position: absolute;
top: -35px;
}


.nav-link{
color: white;
text-decoration: none;

}

.nav-link:hover{

color: rgb(216, 20, 20);
}



nav h1 {
font-family: Montserrat;
color: #ffff;
font-size: medium;
position: absolute;
right: -40px;
left: 22vw;
}



.img-header{
height: 32vw;
  width: 100%;
}

.text-slider{

  color: #1f1f1f;
}

main p {

  color: #f8f8f8;

}

main h5 {

  color: #f8f8f8;
}

.carousel-caption{

  background-color: #1f1f1f6c;
}

.container-index {

 padding-top: 2vh;
}

.prox-partido {

  color: #000000;
  background-color: #c6c6c6c6;
  border-radius: 5%;
  padding: 2%;
  margin: 2%;
  
}

.img-prox-partido{
  height: 90px;
  width: 80px;
}

footer {
  padding-top: 5vh;
  background-color: #191919;
  border-top: #4646467a;
}

.carousel-inner img {
height: 100%;

}
