.img-header{
    height: 32vw;
    width: 100%;  
        }

.container-index {
     padding-top: 2vh;
 }

 .stadium-text{
    text-align: center;
   color: #000000;
             }

 .img-prox-partido{
         height: 80px;
       width: 65px;  
                      }

 .mapa-mundi{
         width: 100%;
          text-align: center;
                      }

 .p-noti{
    color: #000000;
                    
}
                    
.date-noti{
 color: #000000;
 font-size: smaller;
                    
                    }