* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'Montserrat', sans-serif;
  }

main {
    h4{
        font-family: 'Montserrat', sans-serif;
        font-size: smaller;
        text-align: center;
    }

    p{
        color: #f8f8f8;
    }
    h5{
        color: #f8f8f8;
    }
  }

  .icon-bar{
    color: white;
  }